:root {
    --main-color: #dadada;
    --corner-radius: 6px;
    --circle-button-rad: 50%;
    --font-fam: Arial, serif;
    --regular-font-size: 1.2rem;
}
/* --corner-rad: 2px;
    --circle-button-rad: 50%;
    --font-fam: Arial, serif;
    --regular-font-size: 0.8rem;*/
body {
    font-size: 15px;
    background-color: var(--main-color);
}

main {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 40px;
}
.input-list, .buy-list {
    align-self: flex-start;
    box-sizing: border-box;
    background-color: white;
    border-radius: var(--corner-radius);
    flex-direction: column;
}

.input-list {
    margin-right: 3%;
    width: 45%;
}
.buy-list {
    width: 25%;
}

.buy-list label {
    font-size: 1.7rem;
    font-weight: bold;
    font-family: var(--font-fam);
}

.buy-list section {
    padding: 15px;
    border-bottom: 1px solid lightgray;
}

.bought span {
    text-decoration: line-through;
}

span .amount {
    border-radius: 80%;
    background-color: darkorange;
    color: white;
}
.product-input {
    padding: 1rem;
    display: flex;
    border-bottom: 1px solid lightgray;
    box-sizing: border-box;
}
/*padding: 10px;*/
.search-field {
    height: 40px;
    width: 80%;
    outline: none;

    border-radius: var(--corner-radius) 0 0 var(--corner-radius);
    border: 1px solid var(--main-color);

    color: black;

    font-family: var(--font-fam);
    font-size: var(--regular-font-size);

    transition: 0.5s;
}
/*height: 25px;*/

.search-field:hover,:focus {
    border: 1px solid gray;
}


.search-field::placeholder {
    color: gray;
    font-size: var(--regular-font-size);
}
/*DELETE*/
.button-style {
    border: none;
    border-radius: var(--corner-radius);
    color: white;
}
.button-add {
    width: 20%;
    /*padding-left: 0;*/
    border-radius: 0 var(--corner-radius) var(--corner-radius) 0;
    background-color: #005cbb;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 0 4px #0046bb;
    height: 40px;
    box-sizing: border-box;
    transition: 0.5s;
}
/*font-size: var(--regular-font-size);
    font-weight: bold;
    box-shadow: 0 3.5px #0046bb;
    height: 25px;*/
.button-add:hover {
    background-color: blue;
}





.bought-product {
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid lightgray;
    padding:10px 15px;

    box-sizing: border-box;
}
/*padding:7px 10px;*/

.bought-product > label {
    text-decoration: line-through;
    width: 90px;
    padding-top: 3px;
    font-size: var(--regular-font-size);
    font-family: var(--font-fam);
}

.in-list-product > label {
    width: 90px;
    padding-top: 3px;
    font-size: var(--regular-font-size);
    font-family: var(--font-fam);
}

.bought-product .button-red, .bought-product .button-green, .bought-product .button-remove {
    visibility: hidden;
}
.side-buttons {
    display: flex;
}
.bought-product .side-buttons {
    flex-direction: row-reverse;
}

.bought-product .button-buy {
    margin-right: 1px;
}

.bought-product .amount {
    margin-right: 4px;
}

.in-list-product {
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid lightgray;
    padding:10px 15px;

    box-sizing: border-box;
}


.button {
    border: none;
    color: white;
    /*text-align: center;*/
    /*text-decoration: none;*/
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
}
/*font-size: 0.7rem;*/
.button-green {
    background-color: limegreen;
    /*background-color: #59b755   box-shadow: 0 2px #4fa14d -->*/
    width: 23px;
    height: 23px;

    border-radius: 50%; /* add var*/
    box-shadow: 0 2px #4fa14d;

    box-sizing: border-box;
    /*box-sizing: border-box;*/
    font-weight: bold;
    font-size: 0.7rem;
    margin-left: 5px;
}
/*width: 16px;
    height: 16px;*/
.button-red {
    background-color: red;
    /*background-color: #59b755   box-shadow: 0 2px #4fa14d -->*/
    width: 23px;  /* add var*/
    height: 23px;
    border-radius: 60%;
    box-shadow: 0 2px #b03630;
    box-sizing: border-box;

    font-weight: bold;
    font-size: 0.7rem;
    margin-right: 5px;
}

.button-inactive {
    opacity: 0.5;
}

/*width: 16px;
    height: 16px;*/
.button-buy {
    border: 1px solid #d3d3d4;
    font-size: 0.7rem;
    margin-right: 5px;
    background-color: #f4f4f4;

    width: 100px;
    font-weight: bold;
    color: #616161;
    border-radius: var(--corner-radius);
    box-shadow: 0 2px #d3d3d4;
}

.button-remove {
    background-color: red;
    /*background-color: #59b755   box-shadow: 0 2px #4fa14d -->*/
    width: 25px;
    font-size: 0.8rem;
    border-radius: var(--corner-radius);
    box-shadow: 0 2px #b03630;
    margin-right: 1px;
}
/*width: 20px;*/

.product-item {
    background-color: #e8e8e8;
    display: inline-block;
    height: 25px;
    padding: 5px;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 5px;
    font-size: var(--regular-font-size);
    font-family: var(--font-fam);
}

.amount {
    background-color: lightgray;
    border-radius: 3px ;

    display: inline-block;
    height: 25px;
    width: 25px;

    font-family: var(--font-fam);

    font-size: 1rem;
    font-weight: bold;
    color: #616161;

    text-align: center;
    padding-top: 4px;
    box-sizing: border-box;
}

@media (max-width: 500px) {
    main {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .input-list {
        margin-right: 0;
        margin-bottom: 5%;
        width: 100%;
    }
    .buy-list {
        width: 100%;
    }
}
@media print {
    .badge {
        height: 100px;
        width: 300px;
        border: 1px solid purple;
    }

    .badge .badge-text {
        display: none;
    }

    .badge .author {
        font-size: 0.8rem;
        display: inline;
    }

}
.badge {
    position: fixed;
    left: 100px;
    height: 40px;
    width: 100px;
    bottom: 0;
    border-radius: var(--corner-radius) var(--corner-radius) 0 0;
    background-color: rebeccapurple;
    color: white;
    font-family: var(--font-fam) ;
    transition: 1s;
}
.badge:hover {
   height: 70px;
    background-color: darkblue;
   transition: all 1s ease;
}
.badge-text{
    text-align: center;
    margin-bottom: 5px;
    padding-left: 17px;
    padding-top: 10px;
    font-size: var(--regular-font-size);
    display: inline-block;
}

.author {
    text-align: center;
    font-size: 0.8rem;
    display: inline-block;
}
.author:before {
    content: "Created by: ";
    text-align: center;
}


[data-tooltip] {
    position: relative;
}
[data-tooltip]::after {
    content: attr(data-tooltip);
    font-size: 0.7rem;
    position: absolute;
    width: 50px;
    left: 0;
    top: 0;
    background: darkblue;
    color: white;
    padding: 0.5em;
    pointer-events: none;     /* Курсор миші реагує на підказку */
    opacity: 0;               /* Прозорість */
    transition: 1s;
    border-radius: var(--corner-radius);
}
[data-tooltip]:hover::after {
    opacity: 1;
  //  left: 1rem;
    top: 1rem;
}


/*
border-radius: 2px ;

    display: inline-block;
    height: 16px;
    width: 16px;
 */